// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";

$primaryColor: #44c889;
$secondaryColor: #8ca59a;
$successColor: #349798;
$warningColor: #ce9457;
$dangerColor: #b83e79;

/*TreeMain - start*/
// .modern-tree {
//   .ant-tree-list {
//     .ant-tree-treenode {
//       &:before {
//         background: none;
//       }
//       .ant-tree-indent {
//         order: 0;
//       }
//       .ant-tree-switcher {
//         order: 2;
//       }
//       .ant-tree-node-content-wrapper {
//         order: 1;
//       }

//       .ant-tree-switcher_close {
//         .ant-tree-switcher-icon {
//           transform: rotate(-90deg);
//         }
//       }
//     }
//     .ant-tree-treenode-selected,
//     .ant-tree-treenode:hover {
//       &:before {
//         background: none !important;
//       }

//       .ant-tree-switcher {
//         color: inherit;
//       }
//       .ant-tree-node-content-wrapper.ant-tree-node-selected {
//         color: $warningColor;
//       }
//     }
//   }
// }

.citizen-tree {
  .ant-tree-list {
    .ant-tree-treenode {
      &:before {
        background: none;
      }
      .ant-tree-indent {
        order: 0;
      }
      .ant-tree-switcher {
        order: 2;
      }
      .ant-tree-node-content-wrapper {
        order: 1;
      }

      .ant-tree-switcher_close {
        .ant-tree-switcher-icon {
          transform: rotate(-90deg);
        }
      }
    }
    .ant-tree-treenode-selected,
    .ant-tree-treenode:hover {
      &:before {
        background: none !important;
      }
      .ant-tree-switcher {
        color: inherit;
      }
      .ant-tree-node-content-wrapper.ant-tree-node-selected {
        color: $warningColor;
      }
    }
  }
}

/*TreeMain - finish*/

.__json-pretty__,
.data__value {
  white-space: pre-wrap;
}
